body{
    background-color:aliceblue;
    width: 90%;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap:  wrap;
    align-items: start;

}

.A{
    background-color: red;
    width: 100px;
    height: 100px;
}

.B{
    background-color: green;
    width: 100px;
    height: 100px;
    align-self: flex-end;
}

.C{
    background-color: blue;
    width: 100px;
    height: 100px;
}


