<div class="Resultados">
    <h1>Resultados Recentes</h1>
    <hr>
    <article class="Resultado">
        <h2>Desempenho dos Alunos na Competição Nacional</h2>
        <p>Estamos orgulhosos de compartilhar os excelentes resultados alcançados pelos nossos alunos na
            última
            competição nacional. Vários estudantes da UESC se destacaram em diversas categorias,
            demonstrando a
            qualidade da nossa educação.</p>
    </article>

    <article class="Resultado">
        <h2>Pesquisa Inovadora Reconhecida Internacionalmente</h2>
        <p>Nossa equipe de pesquisa recebeu reconhecimento internacional por contribuições inovadoras em
            suas
            respectivas áreas. Essa conquista destaca a excelência da pesquisa na UESC e seu impacto
            global.
        </p>
    </article>

    <article class="Resultado">
        <h2>Índices de Satisfação do Aluno em Alta</h2>
        <p>Os resultados recentes das pesquisas de satisfação do aluno mostram que a UESC continua a ser
            altamente avaliada pelos estudantes. Estamos comprometidos em fornecer um ambiente
            educacional
            de
            qualidade e atender às necessidades dos nossos alunos.</p>
    </article>
</div>