<div class="login-container">
    <form (ngSubmit)="login()"> 
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput type="text" [(ngModel)]="username" name="username">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password">
      </mat-form-field>
  
      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Login</button>
        <button mat-raised-button color="accent">Reset</button>
      </div>
    </form>
  </div>