<div class="Menu">
    <h1>Menu</h1>
    <hr>
    <ul>
        <li><a href="../centros">Centros e Grupos de Pesquisa</a></li>
        <li><a href="../arint">Cooperação Internacional</a></li>
        <li><a href="../laboratorios">Laboratórios</a></li>
        <li><a href="../mapa/uesc-map2013.pdf" target="_blank">Mapa da UESC</a></li>
        <li><a href="../nucleos">Núcleos</a></li>
        <li><a href="../projetos">Projetos</a></li>
        <li><a href="http://www.uesc.br/proad/index.php?item=conteudo_gera_requerimento_academico.php">Protocolo
                Digital</a></li>
    </ul>
    <ul>
        <h3>Estrutura Organizacional </h3>
        <li><a href="../reitoria/index.php">Reitoria</a></li>
        <li><a href="../colegiados/index.php">Colegiados</a></li>
        <li><a href="../departamentos/index.php">Departamentos</a></li>
    </ul>
</div>