<div class="corpo">
    <div class="col-md-offset-2 col-md-4">
        <h1 class='text-white'>Suinocultura</h1>
        <div class="container">
            <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()"]>
                <h4>Login</h4>

                <input type="text" id="userName" class="form-control input chat-input" placeholder="Email" />

                <input type="text" id="userPassword" class="form-control input chat-input" placeholder="Senha" />

                <div class="wrapper">
                    <span class="group-btn">
                        <button type="submit" class="btn btn-danger btn-lg">login <i class="fa fa-sign-in"></i></button>
                    </span>
                </div>
                <div class="text-center link">
                    <a href="#" class="text-white">Esqueceu sua senha?</a>
                    <a href="#" class="text-white">Criar conta</a>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer">
        <div class="col-md-offset-5 col-md-4 text-white">
            <p>© Copyright Suinocultura {{currentYear}}</p>
        </div>
    </footer>
</div>