<div class="container">  
    <form class="form-login" [formGroup]="formSuino" novalidate (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label for="brincoAnimal" class="col-sm-3 col-form-label">Brinco do Animal</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="brincoAnimal" formControlName="brincoAnimal"
            placeholder="Digite o brinco do animal">
          <div *ngIf="!formSuino.get('brincoAnimal')?.valid && formSuino.get('brincoAnimal')?.touched" class="invalid-feedback">
            Brinco do animal é obrigatório.
          </div>
          <div *ngIf="!formSuino.get('brincoAnimal')?.valid && formSuino.get('brincoAnimal')?.touched" class="invalid-feedback">
            Brinco deve conter somente números.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="brincoPai" class="col-sm-3 col-form-label">Brinco do Pai</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="brincoPai" formControlName="brincoPai"
            placeholder="Digite o brinco do pai">
          <div *ngIf="!formSuino.get('brincoPai')?.valid && formSuino.get('brincoPai')?.touched" class="invalid-feedback">
            Brinco do pai é obrigatório.
          </div>
          <div *ngIf="!formSuino.get('brincoPai')?.valid && formSuino.get('brincoPai')?.touched" class="invalid-feedback">
            Brinco deve conter somente números.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="brincoMae" class="col-sm-3 col-form-label">Brinco da Mãe</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="brincoMae" formControlName="brincoMae"
            placeholder="Digite o brinco da mãe">
          <div *ngIf="!formSuino.get('brincoMae')?.valid && formSuino.get('brincoMae')?.touched" class="invalid-feedback">
            Brinco da mãe é obrigatório.
          </div>
          <div *ngIf="!formSuino.get('brincoMae')?.valid && formSuino.get('brincoMae')?.touched" class="invalid-feedback">
            Brinco deve conter somente números.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="dataNascimento" class="col-sm-3 col-form-label">Data de Nascimento</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento"
            placeholder="Data de nascimento">
          <div *ngIf="!formSuino.get('dataNascimento')?.valid && formSuino.get('dataNascimento')?.touched" class="invalid-feedback">
            Data de nascimento é obrigatória.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="dataSaida" class="col-sm-3 col-form-label">Data de Saída</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="dataSaida" formControlName="dataSaida"
            placeholder="Data de saída">
          <div *ngIf="!formSuino.get('dataSaida')?.valid && formSuino.get('dataSaida')?.touched" class="invalid-feedback">
            Data de saída é obrigatória.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="status" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-9">
          <select class="form-select" id="status" aria-label="Status do suíno" formControlName="status">
            <option value="Ativo">Ativo</option>
            <option value="Vendido">Vendido</option>
            <option value="Morto">Morto</option>
          </select>
          <div *ngIf="!formSuino.get('status')?.valid && formSuino.get('status')?.touched" class="invalid-feedback">
            Status é obrigatório.
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="sexo" class="col-sm-3 col-form-label">Sexo</label>
        <div class="col-sm-9">
          <select class="form-select" id="sexo" aria-label="Sexo do suíno" formControlName="sexo">
            <option value="Macho">Macho</option>
            <option value="Femea">Femea</option>
          </select>
          <div *ngIf="!formSuino.get('sexo')?.valid && formSuino.get('sexo')?.touched" class="invalid-feedback">
            Sexo é obrigatório.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 offset-sm-3">
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </div>
    </form>
  </div>