<div class="Servicos">
    <h1>Nossos Serviços</h1>
    <hr>
    <section class="Servico">
        <h2>Previsão do Tempo</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>Temperatura</h2>
                <p id="temperature"></p>
            </div>
            <div class="col-md-6">
                <h2>Umidade</h2>
                <p id="humidity"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Velocidade do vento</h2>
                <p id="windSpeed"></p>
            </div>
            <div class="col-md-6">
                <h2>Descrição do tempo</h2>
                <p id="weatherDescription"></p>
            </div>
        </div>
        <hr>
    </section>
    <section class="Servico">
        <h2>Assessoria Acadêmica</h2>
        <p>Oferecemos suporte acadêmico abrangente, incluindo orientação de carreira, aconselhamento
            acadêmico e
            assistência para escolha de disciplinas.</p>
    </section>

    <section class="Servico">
        <h2>Biblioteca Online</h2>
        <p>Acesse nossa vasta coleção de recursos online, incluindo livros digitais, artigos científicos
            e
            materiais de estudo para enriquecer sua pesquisa e aprendizado.</p>
    </section>

    <section class="Servico">
        <h2>Programas de Intercâmbio</h2>
        <p>Explore o mundo com nossos programas de intercâmbio. Conecte-se com universidades parceiras
            em
            todo o
            mundo e amplie suas experiências acadêmicas e culturais.</p>
    </section>

</div>