.Destaques {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-template-rows: 20%;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
    border: 2px solid black;
  }
  .imgDestaque {
    width: auto;
    margin-top: 10px;
  }
  .imgDestaque img {
    width: 100%;
    height: 25%;
    object-fit: contain;
  }