.corpo {
    background-image:url('https://i.redd.it/o8dlfk93azs31.jpg');
    background-position:center;
    background-size: cover;
    height: 100vh;
    
    -webkit-font-smoothing: antialiased;
    font: normal 20px Roboto,arial,sans-serif;
    font-family: 'Dancing Script', cursive!important;
  }
  
  .container {
      padding: 110px;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ffffff!important;
      opacity: 1; /* Firefox */
      font-size:20px!important;
  }
  .form-login {
      background-color: rgba(0,0,0,0.55);
      height: auto;
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 15px;
      border-color:#d2d2d2;
      border-width: 5px;
      color:white;
      box-shadow:0 1px 0 #cfcfcf;
      align-items: center;
  }
  .form-login input {
      height: 50px;
      margin-top: 4%;
  }
  .form-login button {
      margin-top: 4%;
  }
  .form-login a {
      margin-left: 20px;
  }
  .link{
      margin-top: 2%;
      cursor: pointer;
  }
  .form-control{
      background:transparent!important;
      color:white!important;
      font-size: 20px!important;
      text-align: center;
  }
  h1{
      color:white!important;
      font-size: 60px!important;
  }
  h4 { 
   border:0 solid #fff; 
   border-bottom-width:1px;
   padding-bottom:10px;
   text-align: center;
   font-size: 30px;
  }
  
  .form-control {
      border-radius: 10px;
  }
  .text-white{
      color: white!important;
  }
  .wrapper {
      text-align: center;
  }
  .footer {
      position: fixed;
      bottom: 0;
      width: 100%;    
  }
  .footer p{
    font-size: 20px;
 }