<div class="container">
  <header class="header">
      <nav class="nav">
        <a class="nav-link text active" routerLink="">Home</a>
        <a class="nav-link text active" routerLink="/component1">Filmes</a>
        <a class="nav-link text active" routerLink="/component2">Mais vistos</a>
      </nav>
  </header>
  <article class="article">
    <router-outlet></router-outlet>
  </article>
  <footer class="footer">
    <p>© 2024 FilmesList. Todos os direitos reservados.</p>
  </footer>
</div>
