<div class="Noticias">
    <h1>Notícias da UESC</h1>
    <hr>
    <article class="Noticia">
        <h2>Descobertas Científicas na Área de Biologia</h2>
        <p>
            Uma equipe de pesquisadores da UESC fez recentes descobertas na área de biologia, revelando
            novos insights sobre a biodiversidade na região. Os resultados dessas pesquisas têm o potencial
            de impactar positivamente a compreensão da ecologia local.
        </p>
        <a href="https://www.uesc.br/noticias/noticias-da-uesc/descobertas-cientificas-na-area-de-biologia">Saiba
            mais</a>
    </article>

    <article class="Noticia">
        <h2>Parceria Internacional para Pesquisa em Tecnologia</h2>
        <p>
            A UESC estabeleceu uma parceria estratégica com uma renomada instituição internacional de
            pesquisa em tecnologia. Essa colaboração promete avanços significativos em projetos conjuntos,
            abrangendo desde inteligência artificial até novas tecnologias sustentáveis.
        </p>
        <a
            href="https://www.uesc.br/noticias/noticias-da-uesc/parceria-internacional-para-pesquisa-em-tecnologia">Saiba
            mais</a>
    </article>

    <article class="Noticia">
        <h2>Evento Científico Internacional na UESC</h2>
        <p>
            A UESC sediará um evento científico internacional de grande relevância para a área de
            biotecnologia. O evento contará com a participação de pesquisadores de renome mundial e será uma
            oportunidade única para a comunidade acadêmica da UESC se aproximar das últimas tendências da
            pesquisa em biotecnologia.
        </p>
        <a href="https://www.uesc.br/noticias/noticias-da-uesc/evento-cientifico-internacional-na-uesc">Saiba
            mais</a>
    </article>
</div>